


/* MAIN
--------------------------------------------------------- */
body {
    font-family: 'source-sans-pro', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}

#scene {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;

    pointer-events: none;
}

.scroll-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 9rem 5vw 5rem;

    color: #fff;

    @include maxw($bp-mobile) {
        padding-top: 0;
    }
}

.scrollarea {
    height: 100%;
}

.scrollarea-ctn {
    position: relative;
    z-index: 5;
}

.page-title {
    position: fixed;
    top: 9rem;
    left: 5vw;
    z-index: -1;

    white-space: nowrap;
    font-size: calc(2vw + 8rem);
    line-height: .975;
    color: var(--textColor);

    opacity: .1;

    letter-spacing: -4px;
    text-transform: initial !important;

    animation: in 4s ease-out forwards 1;
    animation-delay: 1s;
}


@keyframes in{
  0%{
    letter-spacing: 0;
    opacity: 0;
  }
  100%{
    letter-spacing: -3px;
    opacity: .1;
  }
}

.line-ctn {
    display: block;
    overflow: hidden;
}

.btn-inline {
    display: inline-block;

    line-height: 1.5;

    border-bottom: .1rem solid;
}
